<div id="detalhes" class="fullscreen">
	<h4 class="mb-30">Detalhes da partida</h4>
	<form class="row">
	  <div class="form-group col-lg-12">
	    <label for="nome">Jogador:</label>
	    <input type="text" class="form-control" id="nome" placeholder="Nome do jogador" readonly>
	  </div>
	  
	  <div class="form-group col-lg-4">						    
	    <label for="pontuacao">Data:</label>
	    <input type="text" class="form-control" id="data" placeholder="14/09/2018" readonly>
	  </div>

	  <div class="form-group col-lg-4">						    
	    <label for="pontuacao">Pontuação:</label>
	    <input type="text" class="form-control" id="pontuacao" placeholder="R$ 100,00" readonly>
	  </div>

	  <div class="form-group col-lg-4">						    
	    <label for="acertos">Acertos:</label>
	    <input type="number" class="form-control" id="acertos" placeholder="10" readonly>
	  </div>

	</form>
	<div class="row">
		<h4 class="col-lg-2">Ajudas utilizadas</h4>
	</div>
	<div class="row">										
		<div id="ajudas-usadas" class="table-responsive col-lg">				
			<table class="table">
				<tr>
					<td>
						<div class="col-lg-2">							
							<img src="img/cartas.png" alt="..." class="rounded">
							<h6 class="">Cartas</h6>
						</div>
					</td>
					<td>
						<div class="col-lg-2">
							<img src="img/universitarios.png" alt="..." class="rounded">
							<h6 class="">Universitários</h6>
						</div>
					</td>
					<td>
						<div class="col-lg-2">
							<img src="img/placas.png" alt="..." class="rounded">
							<h6 class="">Placas</h6>
						</div>
					</td>
					<td>
						<div class="col-lg-2">
							<img src="img/pular.png" alt="..." class="rounded">
							<div class="row">
								<h6 class="col-lg-2">Pulos: </h6>
								<span class="badge badge-pill badge-danger" style="position: absolute;
				margin-left: 60px;">3</span>
							</div>
						</div>
					</td>
				</tr>
			</table>						
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6">
			<h4 class="mb-30">Métricas de desempenho</h4>
		</div>
	</div>

	<button type="button" class="btn btn-primary">Voltar</button>
</div>