<!--
<app-form-cadastro></app-form-cadastro>
-->


<div class="oz-body-wrap" (window:resize)="onResize($event)">

  <section class="banner-area relative">
    <div class="fullscreen">
      <router-outlet></router-outlet>
    </div>
  </section>
</div>

<div id="propaganda" class="ad" *ngIf="innerWidth>800">
  <ng-adsense [adClient]="'ca-pub-7640562161899788'"
  [adSlot]="7259870550" [display]="'block'" [width]="728"
    [height]="90"></ng-adsense>
</div>

<div id="propaganda" class="ad" *ngIf="innerWidth>=500 && innerWidth<=800">
  <ng-adsense  [adClient]="'ca-pub-7640562161899788'"
  [adSlot]="7259870550" [display]="'block'" [width]="468"
  [height]="60"></ng-adsense>
</div>
<div id="propaganda" class="ad" *ngIf="innerWidth<500">
  <ng-adsense  [adClient]="'ca-pub-7640562161899788'"
  [adSlot]="7259870550" [display]="'block'" [width]="320"
  [height]="100"></ng-adsense>
</div>

<button  ></button>

<button class="genric-btn default-border radius help" (click)="muteSound()"
[disabled]="mute"></button>
<a data-toggle="tooltip" title="Ligar o som" *ngIf="mute">
    <img width="50px" src="../../../assets/img/cartas.png" >
</a>
<a  data-toggle="tooltip" title="Ligar o som" *ngIf="!mute">

  <img width="50px" src="../../../assets/img/cartas-usada.png" *ngIf="match.cards">
</a>
<!--<h6>Cartas</h6>-->
</button>
<app-footer></app-footer>
