
<div class="row fullscreen">

	<div class="col-lg-12 pergunta">
		<p>Qual a classificação da palavra PAPIBAQUIGRAFO?</p><br>							
	</div>
	
	<!-- DIV DE OPÇÔES -->
	<div class="col-lg-8">
		<div class="opcao row">
			<a href="#" class="genric-btn default-border radius">
				<button class="btn btn-primary">A</button>
				<span> Texto explicativo sobre a opção, texto explicativo da opcao, texto explicativo da opcao, texto explicativo da opcao.</span>
			</a>
		</div>	

		<div class="opcao row">
			<a href="#" class="genric-btn default-border radius">
				<button class="btn btn-primary">B</button>
				<span> Texto explicativo sobre a opção, texto explicativo da opcao, texto explicativo da opcao, texto explicativo da opcao.</span>
			</a>
		</div>

		<div class="opcao row">
			<a href="#" class="genric-btn default-border radius">
				<button class="btn btn-primary">C</button>
				<span> Texto explicativo sobre a opção, texto explicativo da opcao, texto explicativo da opcao, texto explicativo da opcao.</span>
			</a>
		</div>

		<div class="opcao row">
			<a href="#" class="genric-btn default-border radius">
				<button class="btn btn-primary">D</button>
				<span> Texto explicativo sobre a opção, texto explicativo da opcao, texto explicativo da opcao, texto explicativo da opcao.</span>
			</a>
		</div>				
			
	</div>
	<!-- FIM DA DIV DE OPÇÔES -->

	<!-- DIV DE AJUDAS -->
	<div class="col-lg-4 ajudas">
		<div class="row centralizado">
			<h4 class="title" >Tipos de ajuda</h4>	
		</div>
		
		<div class="row centralizado">
			<div class="ajuda cartas">
				<a href="#" class="genric-btn default-border radius">
					<img src="../../../assets/img/cartas.png">
					<h5>Cartas</h5>
				</a>
			</div>
			
			<div class="ajuda universitarios">
				<a href="#" class="genric-btn default-border radius">
					<img src="../../../assets/img/universitarios.png">
					<h5>Universitários</h5>
				</a>
			</div>
			
			<div class="ajuda pular">
				<a href="#" class="genric-btn default-border radius">
					<span class="badge badge-pill badge-danger">3</span>
					<img src="../../../assets/img/pular.png">
					<h5>Pular</h5>

				</a>
			</div>
			
			<div class="ajuda placas ajuda-usada">
				<a href="#" class="genric-btn default-border radius ajuda-usada">
					<img src="../../../assets/img/placas.png">
					<h5>Placas</h5>

				</a>
			</div>
			
		</div>

		<div class="row centralizado">
			<h4 class="title" >Situação atual</h4>	
		</div>

		<div class="row centralizado">
			
			<div>
				<img src="../../../assets/img/perdeutudo.png">
				<span class="situacao">Perde tudo</span>
				<h5>Errar</h5>
			</div>

			<div>
				<img src="../../../assets/img/parar.png">
				<span class="situacao">R$ 100,00</span>
				<a href="#" title="Clique aqui se quiser parar o jogo."><h5>Parar</h5></a>
			</div>

			<div>
				<img src="../../../assets/img/acertar.png">
				<span class="situacao">R$ 100,00</span>
				<h5>Acertar</h5>
			</div>

		</div>		
			
	</div>
	<!-- FIM DA DIV DE AJUDAS -->	
</div>