.pagination{
    position: relative;
    display: flex;
	flex-direction: row;
	justify-content: flex-end;
    align-items: flex-end;
}
.page-link{
    color: black;
}
.page-item{
    margin: 5px 5px;
}
.desativado button{    
    color: black;
    background-color: lightgrey;
    cursor: not-allowed;
}