.pagination{
    position: relative;
    display: flex;
	flex-direction: row;
	justify-content: flex-end;
    align-items: flex-end;
}
.page-link{
    color: black;
}
.page-item{
    margin: 5px 5px;
}
.desativado button{    
    color: black;
    background-color: lightgrey;
    cursor: not-allowed;
}
#divpesquisa{
    z-index: 1998;
    position: relative;
}
#botaoPesquisar{
    position: relative;
    top: 73px;
    right: 32px;
    z-index: 1999;
}
@media (max-width: 470px){
    #botaoPesquisar{
        position: absolute;
        top: 45px;
        right: 32px;
        z-index: 1999;
    }
}
@media (min-width: 768px){
    .col-sm-2 label{
        width: 100%;
        text-align: right;
    }
}
@media (max-width: 767px){
    .col-sm-2 label{
        width: 100%;
        text-align: left;
    }
}