<app-menu></app-menu>
<div id="rank">
	<div style="height: 100%;">
		<h4 class="mb-30">Ranking</h4>
		<span [ngClass]="pesquisa?'lnr lnr-cross':'lnr lnr-magnifier'" (click)="clicou()" ></span>
		<div id="divpesquisa" class="row">			
			<nav class="form-group col-md" [ngClass]="pesquisa?'show':'hide'">
				<label for="pesquisa">Pesquisar:</label>
				<input type="text" name="pesquisa" id="pesquisa" class="form-control form-control-sm"/>
			</nav>

		</div>
		<table class="table table-striped table-sm" style="height: 90%">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Jogador</th>
					<th scope="col">Pontuação</th>
					<th scope="col">Detalhes</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let match of matchs; let i=index;">
					<th scope="row">{{pagina*rows+i+1}}</th>
					<td>{{match.player}}</td>
					<td *ngIf="match.score!=''">R$ {{converter.toString(match.score)}}</td>
					<td *ngIf="match.score==''">{{match.score}}</td>
					<td *ngIf="match._id!=''">
						<a [routerLink]="['/detalhes/',match._id]" class="genric-btn primary-border small">Visualizar</a>
					</td>
					<td *ngIf="match._id==''">

					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="4">
						<ul class="pagination">
							<li class="page-item" [ngClass]="pagina==0?'desativado':null">
								<button class="page-link" (click)="anterior()" [disabled]="pagina==0">Anterior</button>
							</li>

							<li class="page-item" [ngClass]="chegouAoFim()?'desativado':null">
								<button class="page-link" (click)="proximo()" [disabled]="chegouAoFim()">Proximo</button>
							</li>
						</ul>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>

</div>
<app-salvar-jogador *ngIf="modal" (close)="fecharModal()" (salvar)="salvarPartida($event)"></app-salvar-jogador>
