<header class="default-header">
  <div class="container-fluid">
    <div class="header-wrap">
      <div class="header-top d-flex justify-content-between align-items-center">
        <div class="logo">

        </div>
        <div class="main-menubar d-flex align-items-center">
          <nav id="menu" [ngClass]="menu?null:'hide'">
            <a routerLink="/" >Início</a>
            <a routerLink="/gameareas" >Jogar</a>
            <a routerLink="/rank" >Ranking</a>
            <a routerLink="/contato" >Contato</a>
          </nav>
          <div class="menu-bar"><span [ngClass]="menu?'lnr lnr-cross':'lnr lnr-menu'" (click)="clicou()" ></span></div>
        </div>
      </div>
    </div>
  </div>
</header>
