<div id="externa">
    <div class= "modal-fade" tabindex="-1" role="dialog" id="modalImagem">
      <div  role="document">
        <div class="modal-content">
          <button type="button" class="close" (click)="oncloseevent()">
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="modal-body">
              <img src="{{imagem}}">
          </div>
        </div>
      </div>
    </div>
    </div>
    <!--Fundo preto do modal-->
  <div class="modal-backdrop show"><div>
