<app-menu></app-menu>
<div id="detalhes" class="fullscreen">
	<h5 class="mb-30">Detalhes da partida</h5>
	<form class="row">
		<div class="form-group col-lg-12">
			<label for="nome">Jogador:</label>
			<input type="text" class="form-control" id="nome" placeholder="Nome do jogador" readonly [value]="match.player">
		</div>

		<div class="form-group col-lg-4">
			<label for="data">Data:</label>
			<input type="text" class="form-control" id="data" placeholder="14/09/2018" readonly [value]="match.data | date:'dd/MM/yyyy hh:mm'">
		</div>

		<div class="form-group col-lg-4">
			<label for="pontuacao">Pontuação:</label>
			<input type="text" class="form-control" id="pontuacao" placeholder="R$ 100,00" readonly [value]="'R$ '+match.score">
		</div>

		<div class="form-group col-lg-4">
			<label for="acertos">Acertos:</label>
			<input type="number" class="form-control" id="acertos" placeholder="10" readonly [value]="match.hits">
		</div>

	</form>
	<div class="row">
		<h5 class="col-lg-4">Ajudas utilizadas</h5>
	</div>
	<div class="row">
		<div id="ajudas-usadas" class="table-responsive col-lg">
			<table class="table">
				<tr>
					<td>
						<div class="col-lg-2">
							<img src="../../../assets/img/cartas.png" alt="..." class="rounded">
							<h6 class="">Cartas</h6>
							<span class="badge badge-success" *ngIf="match.cards">Sim</span>
							<span class="badge badge-secondary" *ngIf="!match.cards">Não</span>
						</div>
					</td>
					<td>
						<div class="col-lg-2">
							<img src="../../../assets/img/universitarios.png" alt="..." class="rounded">
							<h6 class="">Universitários</h6>
							<span class="badge badge-success" *ngIf="match.universitaries">Sim</span>
							<span class="badge badge-secondary" *ngIf="!match.universitaries">Não</span>
						</div>
					</td>
					<td>
						<div class="col-lg-2">
							<img src="../../../assets/img/placas.png" alt="..." class="rounded">
							<h6 class="">Placas</h6>
							<span class="badge badge-success" *ngIf="match.plates">Sim</span>
							<span class="badge badge-secondary" *ngIf="!match.plates">Não</span>
						</div>
					</td>
					<td>
						<div class="col-lg-2">
							<img src="../../../assets/img/pular.png" alt="..." class="rounded">
							<h6 class="">Pulos</h6>
							<span class="badge badge-success" *ngIf="match.skips">{{match.skips}}</span>
							<span class="badge badge-secondary" *ngIf="!match.skips">{{match.skips}}</span>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col form-group" id="metricas">
			<label>
				<h5 class="mb-30">Métricas de desempenho: </h5>
			</label>
			<button type="button" class="btn btn-primary btn-sm" (click)="mostrarModalMetricas()">Visualizar</button>
		</div>
	</div>
</div>
<app-metricas *ngIf="modalMetricas" [performance]="match.performance"(close)="fecharModalMetricas()"></app-metricas>
