.cronometro{
    background:#0a93c0;
    border-radius: 0.5rem;
}

.cronometro span{
    width: 100%;
}

.cronometro input{
    text-decoration: none;
    border: none;
    width: 100%;
    text-align: center;
    background: transparent;
    font-size: 20px;
    font-style: oblique;
    color: white;
}

.cronometro-acabou{
    background:gray;
}

.ultimos-segundos{
    background: #dc3545;
}
@media (max-width: 575px){
  .cronometro{
    width:100px;
    float: right;

    margin-left: 200px;
    margin-right:0px;
  }
}
@media (max-width: 992px)and (min-width:576px){
  .cronometro{
    width:150px;
    float: right;

    margin-left: 200px;
    margin-right:0px;
  }
}
@media (min-width: 993px){
  .cronometro{
    width:200px;
    float: right;

    margin-left: 200px;
    margin-right:0px;
  }
}
