#cronometro{
    position: absolute;
    top: -45px;
    right: 0px;
    width: 100%;
}

#cronometro span{
    width: 100%;
}

#cronometro input{
    text-decoration: none;
    border: none;
    width: 100%;
    text-align: center;
    background: transparent;
    font-size: 25px;
    font-style: oblique;
    color: white;
}