<div id="externa">
  <div tabindex="-1" role="dialog" id="errou">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" (click)="oncloseevent()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class = "englobador">
            <h5 class="col-lg-12 titulo titulocerto" *ngIf="acertou">{{titulo}}</h5>
            <h5 class="col-lg-12 titulo tituloerrado" *ngIf="!acertou">{{titulo}}</h5>
          </div>

        </div>
        <div class="modal-body">

          <div class="col-lg-12" style="margin-top:5px">
            <div class="comentario">
              “{{comentario}}”
            </div>
            <div class="links-apoio">
              <h4 class="mb-10">Material de Apoio</h4>
              <!--<p>Alguns links com material de apoio sobre a pergunta podem ser consultados abaixo:</p>-->
              <div class="link" *ngFor="let link of links">
                <h6>{{link.title}}:<a [href]="link.link" target=true class="genric-btn link radius small">link</a></h6>
              </div>

            </div>
          </div>
          <div class="col-lg-12">
            <div class="respcorreta"> Resposta correta: {{correta}}</div>
          </div>
        </div>
        <div class="modal-footer">

          <div class="col-md">
            <button type="button" class="btn btn-secondary btn-block" (click)="oncloseevent()">{{acao}}</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<!--Fundo preto do modal-->
<div class="modal-backdrop show">
  <div>
