<div id="externa">
    <div class="" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Escolha sua carta</h5>
          </div>
          <div class="modal-body row" style="padding: 0px 0px"> 
            
  
          </div>
          <div class="modal-footer">
              
            <div class="col-md">
              <button type="button" class="btn btn-primary btn-block" (click)="clicouOk()">OK</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  
  </div>
  
  
  
  <!--Fundo preto do modal-->
  <div class="modal-backdrop show">
    <div>