h1,h2,h3,h4,h5,h6 {
    color: black;
}
a{
    text-decoration: none;

}
.opcao-invalida{
    padding-top: 10px;
    padding-bottom: 10px;
    cursor:not-allowed;
    background-color: #E6E6E6;
    opacity: 0.5;
    z-index: 20000;
}
.opcao-invalida span{
    text-transform: capitalize;
    cursor:not-allowed;
}
.opcao-invalida button{
    cursor:not-allowed;
}
.opcao-invalida a{
    cursor:not-allowed;
}
#imagem{
    /*background: white;*/
    border-radius: 2%;
    padding: 10px;
}
.linha-cronometro{
    position: absolute;
    top:5px;
    left: 0px;
}

#imagemCentral{
  cursor: pointer;
}

#imagemPadrao{
  cursor: not-allowed;
}

.opcoes{
  border: 1px solid black;
  border-radius: 8px;
  padding-left: 0px;
}
.imagens{
  border-radius: 8px;
  border: 1px solid blue;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
}

#imagem{
  padding-right: 0px;
}
#semImagem{
  padding-right: 0px;
}
.statementPergunta{
  border: 1px solid blue;
  border-radius: 8px;
}

.ajudas{

  border-radius: 8px;
  border: 1px solid blue;
  padding-bottom: 0px;
}

.pergunta{
  padding-bottom: 0px;
  margin-right: 30px
}

.divop{
  border: 1px solid blue;
  border-radius: 8px;
  padding-left: 20px;

}
