h1,h2,h3,h4,h5,h6 {
    color: black;
}
a{
    text-decoration: none;

}
.opcao-invalida{
    padding-top: 10px;
    padding-bottom: 10px;
    cursor:not-allowed;
    background-color: #E6E6E6;
    opacity: 0.5;
    z-index: 20000;
}
.opcao-invalida span{
    text-transform: capitalize;
    cursor:not-allowed;
}
.opcao-invalida button{
    cursor:not-allowed;
}
.opcao-invalida a{
    cursor:not-allowed;
}
#imagem{
    /*background: white;*/
    border-radius: 2%;
}
.linha-cronometro{
    position: absolute;
    top:5px;
    left: 0px;
}

#imagemCentral{
  cursor: pointer;
}

#imagemPadrao{
  cursor: not-allowed;
}

.opcoes{
  border-style: ridge;
  border-width: 2px;
  border-radius: 8px;
  padding: 2px;
  padding-right: 5px;
  width: 75%;
  min-width: 200px;
}
.imagens{

  border-radius: 8px;
  border-style: groove;
  border-width: 3px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
}

#imagem{
  padding-right: 0px;

}
#semImagem{
  padding-right: 0px;
}
.statementPergunta{
  background-color:beige;
  border-radius: 8px;
  border-style: groove;
  border-width: 3px;
}

.ajudas{
  background-color:beige;
  position: relative;
  left: 5px;
  border-radius: 8px;
  border-style: groove;
  border-width: 3px;
  padding: 5px;
}

.pergunta{

  margin-right: 10px;
  margin-bottom: 10px;
}

.divop{
  background-color:beige;
  border-radius: 8px;
  border-style: groove;
  border-width: 3px;
  padding-left: 20px;
  margin-bottom: 0px;
}

.help{
  border-style: outset;
  border-width: 2px;
  border-radius: 8px;


}


@media (max-width: 992px)and (min-width:576px){
  .ajudas {
    padding-left: 0px;
    left: auto;
  }
  .imagens{
    width: 100%;
    padding-left: 0;
    margin-bottom: 5px;

  }
  .pergunta{
    margin-bottom: 5px;
    margin-right: 0px;
  }
  .divop{
    margin-bottom: 5px;
    padding-right: 20px;
  }
  #imagem{
    padding-left: 0px;
    margin-bottom: 5px;
  }
  .opcoes{
    width: 100%;
  }
  .statementPergunta{
    margin-bottom: 5px;

  }
}

@media (max-width: 575px){
  .statementPergunta{
    margin-bottom: 5px;
    width: 100%;
  }

  .imagens{
    width: 100%;
    padding-left: 0;
  }

  .pergunta{
    margin-bottom: 5px;
    margin-right: 0px;
  }
  .divop{
    margin-bottom: 5px;
    padding-right: 20px;
  }
  .ajudas {
    padding-left: 0px;
    left: auto;
  }
  #imagem{
    padding-left: 0px;
  }
  .opcoes{
    width: 100%;
  }
}
