<div class="row" height="400px" *ngIf="carregamentoInicial">

  <!--gambiarra-->
  <!--<input autofocus="autofocus" #inputEscondido id="inputEscondido" tabindex="0" (keypress)="myFunc($event)" style="border-style:none;color: white;width:1px;height:1px" />-->

  <div class="col-sm-12 col-md-12 col-lg-12  linha-cronometro" style="margin-bottom: 2px;">
    <div class="col-sm-5 col-md-7 col-lg-7" style="position: absolute;display:inline-block;z-index: 2000;">
      <app-audio (click)="clicouAudio()" [tamanho]="20"></app-audio>
    </div>
    <!-- <div class="col-sm-10" style="position: absolute; left: 0">
        <app-progresso></app-progresso>
      </div> -->
    <div class="cronometro" class="col-sm-6 col-md-4 col-lg-4" style="float: right;">
      <app-cronometro></app-cronometro>
    </div>
  </div>
  <!--Correta: {{pergunta.correctOption}} -->
  <div class="col-sm-12 col-md-12 col-lg-12 pergunta">

    <!--Estava assim, o layout da pergunta mudava se tiver imagem ou não
    <div class="row">
      <!-- CASO A PERGUNTA TENHA IMAGEM
      <div class="col-sm-8 col-md-8 col-lg-8" *ngIf="pergunta.img!=null">
        <h4>{{indiceAtual}} - {{pergunta.statement}}</h4>
      </div>
      <!-- CASO A PERGUNTA NÂO TENHA IMAGEM
      <div class="col-sm-12 col-md-12 col-lg-12" *ngIf="pergunta.img==null">
        <h4>{{indiceAtual}} - {{pergunta.statement}}</h4>
      </div>
      <!-- Se tiver imagem, mostra essa div aqui
      <div class="col-sm-4 col-md-4 col-lg-4 centralizado" id="imagem" *ngIf="(pergunta.img!=null) && (pergunta!=null)">
        <a data-toggle="tooltip" title="Clique para ampliar a imagem.">
          <img id="imagemCentral" width="350" height="240" src="{{pergunta.img}}" (click)="mostrarImagem()">
        </a>
      </div>
    </div>
    -->
    <div class="row">
      <!-- CASO A PERGUNTA TENHA IMAGEM -->
      <div class="col-sm-8 col-md-8 col-lg-8 statementPergunta">
        <h5>{{indiceAtual}} - [{{pergunta.year}}] {{pergunta.statement}}</h5>
      </div>
      <!-- Se tiver imagem, mostra essa div aqui-->
      <div class="col" id="imagem" *ngIf="(pergunta.img!=null)">
        <a data-toggle="tooltip" title="Clique para ver a imagem no tamanho original.">
          <img class="imagens" id="imagemCentral" width="250" height="180" src="{{pergunta.img}}" (click)="mostrarImagem()">
        </a>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4" id="semImagem" *ngIf="(pergunta.img==null)">
        <!--  <span data-toggle="tooltip" title="Questão sem imagem!">
          <img width="340" height="180" id="imagemPadrao" class = "imagens" src="https://drive.google.com/uc?id=1Tyd0JakVp9_irOyraEqJk6PKOr8o6Ykp">
        </span>
        -->
      </div>

    </div>

  </div>



  <!-- DIV DE OPÇÔES -->
  <div class="col-lg-8 divop">
    <div class="row" *ngFor="let op of pergunta.options; let i=index" [ngClass]="classOptions[i]">
      <button class="genric-btn default-border radius opcoes" (click)="mostrarConfirmacao(op)" [disabled]="classOptions[i]==='opcao-invalida'">
        <button class="btn btn-primary" [disabled]="classOptions[i]==='opcao-invalida'">{{flags[i]}}</button>
        <span class=""> {{op}}</span>
      </button>
    </div>

  </div>
  <!-- FIM DA DIV DE OPÇÔES -->

  <!-- DIV DE AJUDAS -->
  <div class="col-lg-4 ajudas" padding-bottom="10px">
    <div class="row centralizado">
      <h4 class="title">Tipos de ajuda</h4>
    </div>

    <div class="row centralizado">
      <div class="ajuda cartas">
        <button class="genric-btn default-border radius help" [ngClass]="match.cards?'ajuda-usada':null" (click)="mostrarCartas()"
          [disabled]="match.cards">
          <a data-toggle="tooltip" title="Usar as cartas">
            <img width="50px" src="../../../assets/img/cartas.png" *ngIf="!match.cards">
            <img width="50px" src="../../../assets/img/cartas-usada.png" *ngIf="match.cards">
          </a>
          <!--<h6>Cartas</h6>-->
        </button>
      </div>

      <div class="ajuda universitarios">
        <button class="genric-btn default-border radius help" [ngClass]="match.universitaries?'ajuda-usada':null" (click)="mostrarUniversitarios()"
          [disabled]="match.universitaries">
          <a data-toggle="tooltip" title="Pedir ajuda aos Universitários.">
            <img width="50px" src="../../../assets/img/universitarios.png" *ngIf="!match.universitaries">
            <img width="50px" src="../../../assets/img/universitarios-usada.png" *ngIf="match.universitaries">
          </a>
          <!--<h6>Universitários</h6>-->
        </button>
      </div>

      <div class="ajuda pular">
        <button href="#" class="genric-btn default-border radius help" [ngClass]="match.skips==3?'ajuda-usada':null" (click)="mostrarModalPular()"
          [disabled]="match.skips==3">
          <span class="badge badge-pill badge-danger">{{3 - match.skips}}</span>
          <a data-toggle="tooltip" title="Pular essa pergunta">
            <img width="50px" src="../../../assets/img/pular.png" *ngIf="match.skips<3">
            <img width="50px" src="../../../assets/img/pular-usada.png" *ngIf="match.skips==3">
          </a>
          <!--<h6>Pular</h6>-->
        </button>
      </div>

      <div class="ajuda placas">
        <button class="genric-btn default-border radius help" [ngClass]="match.plates?'ajuda-usada':null" (click)="mostrarPlacas()"
          [disabled]="match.plates">
          <a data-toggle="tooltip" title="Utulizar as placas">
            <img width="50px" src="../../../assets/img/placas.png" *ngIf="!match.plates">
            <img width="50px" src="../../../assets/img/placas-usada.png" *ngIf="match.plates">
          </a>
          <!--<h6>Placas</h6>-->
        </button>
      </div>

    </div>

    <div class="row centralizado">
      <h4 class="title">Situação atual</h4>
    </div>

    <div class="row centralizado">

      <div>
        <img width="60px" src="../../../assets/img/perdeutudo.png">
        <span class="situacao">R$ {{converter.toString(valorSeErrar)}}</span>
        <h6>Errar</h6>
      </div>

      <div>
        <img width="60px" src="../../../assets/img/parar.png">
        <span class="situacao">R$ {{converter.toString(valorSeParar)}}</span>
        <!--<a href="#" title="Clique aqui se quiser parar o jogo.">-->
        <h6>Parar</h6>
        <!--</a>-->
      </div>

      <div>
        <img width="60px" src="../../../assets/img/acertar.png">
        <span class="situacao">R$ {{converter.toString(valorSeAcertar)}}</span>
        <h6>Acertar</h6>
      </div>

    </div>

    <div class="row">
      <div class="col-md">
        <button class="btn btn-danger btn-block" (click)="mostrarModalParar()">PARAR JOGO</button>
      </div>
    </div>

  </div>
  <!-- FIM DA DIV DE AJUDAS -->

  <!--Modal de confirmar resposta-->
  <app-confirmacao *ngIf="modalConfirmacao" (onclicksim)="clicouSim()" (onclicknao)="clicouNao()" [valor]="converter.toString(valorSeAcertar)"></app-confirmacao>

  <!--Modal de resposta errada/feedback-->
  <app-erro *ngIf="modalErro" [titulo]="mensagem" [comentario]="pergunta.comment" [correta]="pergunta.correctOption" [links]="pergunta.links"
    (closeDiv)="fecharModalError()"></app-erro>

  <!--Modal de ajuda-cartas -->
  <app-cartas *ngIf="modalCartas" (close)="cartasFechou()" (num_cartas)="numCartas($event)"></app-cartas>

  <!--Modal de ajuda-universitarios -->
  <app-universitarios *ngIf="modalUniversitarios" (ok)="universitariosFechou()" [correta]="flags[pergunta.options.indexOf(pergunta.correctOption)]"></app-universitarios>

  <!--Modal de ajuda-placas -->
  <app-placas *ngIf="modalPlacas" [correta]="flags[pergunta.options.indexOf(pergunta.correctOption)]" (close)="placasFechou()"></app-placas>

  <!--Modal de ajuda-pular -->
  <app-pular *ngIf="modalPular" (onclicksim)="modalPularSim()" (onclicknao)="modalPularNao()" [pulos]="3 - match.skips"></app-pular>

  <!--Modal de parar jogo -->
  <app-parar-jogo *ngIf="modalParar" (onclicksim)="modalPararOk()" (onclicknao)="modalPararCancelar()"></app-parar-jogo>

  <app-imagem [imagem]="pergunta.img" *ngIf="modalImagem" (closeDiv)="esconderImagem()"></app-imagem>

  <app-validando-resposta *ngIf="modalLoading" [resposta]="validarResposta()"></app-validando-resposta>

  <!--Modal de parar jogo -->
  <app-ganhou-ummihao *ngIf="modalUmMilhao" (close)="fecharModalUmMilhao()"></app-ganhou-ummihao>

  <!--Modal de solicitar revisão em pergunta -->
  <app-solicitar-revisao *ngIf="modalReview" [question]="pergunta" (close)="fecharModalReview()"></app-solicitar-revisao>

</div>

<div id="review">
  <a data-toggle="tooltip" title="Enviar revisão para esta pergunta." (click)="mostrarModalReview()">
    <img src="../../../assets/img/review.png">
  </a>
</div>

<!--Gif inicial, carregando perguntas-->
<div *ngIf="modalLoadingInicial">
  <div id="externa">
    <div tabindex="-1" role="dialog" id="loading">
      <img src="../../../assets/img/loading.gif" style="width: 100%">
    </div>
  </div>
  <!--Fundo preto do modal-->
  <div class="modal-backdrop show"><div>
</div>
