<div id="rank" class="fullscreen">
	<h4 class="mb-30">Rank</h4>
	<table class="table table-striped">
	<thead>
	    <tr>
	      <th scope="col">#</th>
	      <th scope="col">Jogador</th>
	      <th scope="col">Pontuação</th>
	      <th scope="col">Detalhes</th>
	    </tr>
	 </thead>
	  <tbody>
	    <tr>
	      <th scope="row">1</th>
	      <td>Jogaodor1</td>
	      <td>R$ 100,00</td>
	      <td><a href="#" class="genric-btn primary-border small">Visualizar</a></td>
		</tr>

		<tr>
		   <th scope="row">2</th>
		   <td>Jogaodor2</td>
		   <td>R$ 50,00</td>
		    <td><a href="#" class="genric-btn primary-border small">Visualizar</a></td>
		    </tr>

		    <tr>
		      <th scope="row">3</th>
		      <td>Jogaodor3</td>
		      <td>R$ 0,00</td>
		      <td><a href="#" class="genric-btn primary-border small">Visualizar</a></td>
		    </tr>
		    
		  </tbody>
	</table>						
</div>

