<div id="rank" class="fullscreen">
	<h4 class="mb-30">Rank</h4>
	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Jogador</th>
				<th scope="col">Pontuação</th>
				<th scope="col">Detalhes</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let match of matchs; let i=index">
				<th scope="row">{{i+1}}</th>
				<td>{{match.player}}</td>
				<td>R$ {{match.score}}</td>
				<td>
					<a [routerLink]="['/detalhes/',match._id]" class="genric-btn primary-border small">Visualizar</a>
				</td>
			</tr>

		</tbody>
	</table>
</div>
<app-salvar-jogador *ngIf="modal" (close)="fecharModal()" (salvar)="salvarPartida($event)"></app-salvar-jogador>