<div id="externa">
    <div class="" tabindex="-1" role="dialog" id="confirmacao">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          
          <div class="modal-body">
              <h4>Desejar encerrar o jogo?</h4>
          </div>
          <div class="modal-footer">
            <div class="col-md">
              <button type="button" class="btn btn-primary btn-block" (click)="sim()">Sim</button>
            </div>
            <div class="col-md">
              <button type="button" class="btn btn-secondary btn-block" (click)="nao()">Não</button>
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </div>
  <!--Fundo preto do modal-->
  <div class="modal-backdrop show">
    <div>