<header class="default-header">
  <div class="container-fluid">
    <div class="header-wrap">
      <div class="header-top d-flex justify-content-between align-items-center">
        <div class="logo">
          
        </div>
        <div class="main-menubar d-flex align-items-center">
          <nav class="hide">
            <a href="#">Inicio</a>
            <a href="#">Rank</a>
            <a href="#">Sobre</a>
          </nav>
          <div class="menu-bar"><span class="lnr lnr-menu"></span></div>
        </div>
      </div>
    </div>
  </div>
</header>