<div id="externa">
  <div class="" tabindex="-1" role="dialog">
    <div class="modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Veja o que dizem os universitários</h5>
          <button type="button" class="close" (click)="clicouOk()">
              <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body row">
          <div class="col">
            <div class="centralizado">
              <img src="../../../../assets/img/universitario.png">
              <h2>
                <span class="badge badge-light placa">{{correta}}</span>
              </h2>
            </div>
          </div>
          <div class="col">
            <div class="centralizado">
              <img src="../../../../assets/img/caio.png">
              <h2>
                <span class="badge badge-light placa">{{correta}}</span>
              </h2>
            </div>
          </div>
          <div class="col">
            <div class="centralizado">
              <img src="../../../../assets/img/lucas.png">
              <h2>
                <span class="badge badge-light placa">{{correta}}</span>
              </h2>
            </div>
          </div>
          
        </div>
        
      </div>
    </div>
  </div>


</div>



<!--Fundo preto do modal-->
<div class="modal-backdrop show">
  <div>