<div class="container fullscreen">
  <div id="div-login" class="col-md-4">
    <h3>Área reservada</h3>
    <form>
      <div class="form-group">
        <label for="username">Nome de Usuário:</label>
        <input type="text" class="form-control" name="username" id="username">
      </div>
      <div class="form-group">
        <label for="password">Senha:</label>
        <input type="password" class="form-control" name="password" id="password">
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block">Entrar</button>
      </div>
    </form>
  </div>
</div>